* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerweather {
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
   
}

h2 {
    font-size: 1.8em;
    text-align: start;
}

.maxMin {
    display: flex;
    gap: 10px;
    font-weight: 300;
}

.weather-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    img {
        width: 4em;
    }
}

.temp {
    font-weight: 600;
    font-size: 2.5em;
}

.descricption {
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: 200;
}

.detalhes {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin-top: 20px;
}

.minCards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.minCard {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    text-align: start;
}

.icone {
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: #ffffff;
}

.min-title {
    font-weight: 500;
    font-size: 1.1em;
    /* margin: 0 10px; */
}

.results{
    font-weight: 300;
    color: #4F8296;
}