.containerweather {
    background-color: rgba(195, 187, 187, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}

.weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weather-day {
    background-color: rgba(195, 187, 187, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 200px; 
    text-align: center; 
}

.weather-day h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.weather-day img {
    width: 4em;
}

.weather-day .temp {
    font-weight: 600;
    font-size: 1.8em;
    margin: 5px 0;
}

.weather-day .description {
    text-transform: capitalize;
    font-size: 1.1em;
    margin: 5px 0;
}

.weather-day .details {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}
