.container{
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

h1{
    font-size: 3rem;
    color: #FFf;
}

.pesquisar{
    display: flex;
    gap: 20px;
}

input{
    border: none;
    border-radius: 20px 0 0 20px;
    width: 60%;
    padding: 10px;
    max-width: 300px;
    outline: none;
}

button{
    border: none;
    padding: 10px;
    background-color: orange;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0px 20px 20px 0;
    color: #FFf;
    
}

button:hover{
    opacity: 0.8;
}