.container{
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

h1{
    font-size: 3rem;
    color: #0D171C;
    font-weight: 400;
}

.pesquisar{
    display: flex;
    gap: 20px;
}

input{
    border: none;
    border-radius: 20px 0 0 20px;
    width: 60%;
    padding: 13px;
    max-width: 300px;
    outline: none;
    background-color:#4f82963f ;
}

input::placeholder{
    color: #4F8296;
    font-size: 1.1em;
    font-weight: 500;
    text-indent: 5px;
}

button{
    border: none;
    padding: 12px;
    background-color:#4F8296;
    cursor: pointer;
    font-weight: 300;
    border-radius: 0px 20px 20px 0;
    color: #FFf;
    
}

button:hover{
    opacity: 0.8;
}
