@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    font-family: "Roboto", sans-serif;
    color: #333;
    background-color: #F7FAFA;
    line-height: 1.6;
}